:root {
    --prim-backg-colour: rgb(243, 243, 243);
    --sec-backg-colour: white;
    --accent-colour: rgb(204, 204, 204);
    --prim-text-colour: black;
    --sec-text-colour: grey;
    --btn-colour: var(--accent-colour);
    --btn-hover-colour: rgb(180, 180, 180);
    --menu-text-colour: rgb(50, 136, 195);
}

body {
    min-width: 590px;
    background-color: var(--prim-backg-colour);
    color: var(--prim-text-colour);
}

.main-col {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
}
main {
    padding-top: 20px;
    padding-bottom: 20px;
}

p, body {
    font-family: "Bitter";
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}
h3 {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
}

.final {
    margin-bottom: 0 !important;
}

button {
    padding: 0;
    border-width: 0;
}
button:enabled {
    cursor: pointer;
}
button:disabled {
    color: var(--sec-text-colour);
}

.solid-btn {
    font-family: inherit;
    cursor: pointer;
    background-color: var(--btn-colour);
    color: var(--prim-text-colour);
    transition: background-color 0.1s linear;
}
.solid-btn:hover {
    background-color: var(--btn-hover-colour);
}

.text-btn {
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    background-color: transparent;
}
.text-btn:hover:enabled {
    text-decoration: underline;
}