.groups-columned {
    display: flex;
}
.groups-column {
    width: calc(50% - 10px);
    margin-right: 20px;
}
.groups > :last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.field-table > tbody > tr > :last-child {
    text-align: right;
    font-weight: bold;
}