html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0;
	font-weight: inherit; font-style: inherit;
	font-size: 100%; font-family: inherit;
	vertical-align: baseline;
}
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }


body {
    font-family: "Trebuchet MS";
    -webkit-text-size-adjust: 100%;
}
tr {
    line-height: 1.5em;
}

#header {
    width: 100%;
    height: 90px;
    top: 0;
    position: fixed;
    background: #2a2a2a;
    z-index: 1;
}
#header_items {
    max-width: 1050px;
    min-width: 570px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#header_left {
    float: left;
    font-size: 40px;
    color: white;
    margin-top: 6px;
}
#header_right {
    float: right;
    font-size: 80px;
    color: rgb(20, 20, 20);
    margin-top: -11px;
    font-weight: bold;
    font-style: italic;
}

#menu {
    width: 100%;
    background: #d0d0d0;
    position: absolute;
    bottom: 7px;
    height: 25px;
}
#menu_items {
    max-width: 1050px;
    min-width: 570px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 24px;
}
#menu_items div * {
    float: left;
    margin-right: 15px;
}
#menu_items div span:first-of-type,
#menu_items div span:last-of-type {
    font-weight: bold;
    line-height: 23px;
}
.menu_item {
    text-decoration: none;
    color: blue;
}
.menu_item:hover {
    text-decoration: underline;
}
.menu_item:visited {
    color: blue;
}
#ami {
    font-weight: bold;
}

#main {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 34px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

#scroller {
    height: 40px;
    display: table;
    width: calc(100% - 2px);
}
#scroller > div:nth-child(2) {
    text-align: center;
    transform: translateY(-1px);
}
.scroller_button {
    display: table-cell;
    width: 40px;
    text-align: center;
    background-color: #f2f7f8;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    user-select: none;
}
.scroller_button svg {
    transform: translateY(4px);
}
.scroller_button:hover svg {
    fill: gray;
}
#scroller_time {
    font-weight: bold;
    display: inline;
}

.group {
    color: #222;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
}
.group_header {
    background: #f2f7f8;
    border-bottom: 1px solid #cccccc;
    padding-top: 5px;
}
.group_header div {
    float: right;
}
.group_title {
    margin-bottom: 7px;
    font-size: 25px;
    margin-top: 0;
    margin-left: 10px;
    display: inline-block;
}

.field_table {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}
.field_label {
    margin-left: 35px;
    color: grey;
}
.field_value {
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
}

#img_container {
    position: relative;
}
#img_container img {
    width: 100%;
    position: relative;
}
#img_loading {
    text-align: center;
    margin-top: 15px;
    width: 100%;
    position: absolute;
    font-size: 12px;
}

#footer {
    width: 100%;
    height: 34px;
    bottom: 0;
    position: fixed;
    background: #2a2a2a;
}
#footer_items {
    max-width: 1050px;
    min-width: 538px;
    margin: 0 auto;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 26px
}
.footer_label {
    margin-right: 10px;
    float: left;
    color: #cbff31;
    font-size: 14px;
    line-height: 27px;
}
.footer_value {
    color: white;
    text-align: center;
    font-size: 18px;
    border: 1px solid #666666;
    box-sizing: border-box;
    height: 28px;
    float: left;
}