.group_key {
    margin-right: 5px;
    font-size: 11px;
    line-height: 25px;
}
.group_key > span:nth-of-type(1) {
    color: #f35168;
}
.group_key > span:nth-of-type(2) {
    color: #25a9fc;
}
.group_key > span:nth-of-type(3) {
    color: #8ac85c;
}
.group_toggle {
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 26px;
    margin-right: 5px;
    text-align: center;
    width: 27px;
    height: 27px;
    user-select: none;
}
.group_toggle:hover {
    color: gray;
}

.ct-chart {
    display: none;
}

.ct-label.ct-vertical.ct-start {
    transform: translateY(6px);
    font-size: 10px;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    justify-content: left;
}

.ct-series .ct-line {
    stroke-width: 1px;
}
.ct-series .ct-point {
    stroke-width: 3;
}
.ct-series .ct-bar {
    stroke-width: 2;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-bar {
    stroke: #f35168;
}
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-bar {
    stroke: #25a9fc;
}
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-bar {
    stroke: #8ac85c;
}