.ct-chart {
    display: none;
}
.g_open {
    display: block;
}

.ct-label.ct-vertical.ct-start {
    transform: translateY(6px);
    font-size: 10px;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    justify-content: left;
}

.ct-series .ct-line {
    stroke-width: 1px;
}
.ct-series .ct-point {
    stroke-width: 3;
}
.ct-series .ct-bar {
    stroke-width: 2;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-bar {
    stroke: rgb(195, 39, 40);
}
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-bar {
    stroke: rgb(50, 136, 195);
}
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-bar {
    stroke: rgb(55, 145, 109);
}