.group {
    margin-bottom: 20px;
    border: 1px solid var(--accent-colour);
    background-color: var(--sec-backg-colour);
}
.group-header {
    height: 32px;
    border-bottom: 1px solid var(--accent-colour);
}
.group-name {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

.scroller {
    display: flex;
    height: 38px;
}
.scroller-btn {
    width: 39px;
    height: 38px;
}
.scroller-centre {
    flex: 1;
    text-align: center;
}
.scroller-time {
    margin-top: 9px;
    text-decoration: underline;
}
.flatpickr-calendar {
    margin-top: 5px;
}

.field-table {
    width: calc(100% - 50px);
    margin: 12px 15px 12px 35px;
}
.field-table > tbody > tr > :first-child {
    margin-left: 35px;
    color: var(--sec-text-colour);
}