.header {
    width: 100%;
    height: 90px;
    top: 0;
    position: fixed;
    background-color: rgb(90, 90, 90);
    z-index: 1;
}
.titles {
    max-width: 1050px;
    min-width: 570px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.titles h1 {
    float: left;
    font-size: 40px;
    color: rgb(50, 50, 50);
    margin-top: 7px;
    margin-left: -2px;
}
.titles h2 {
    float: right;
    font-size: 86px;
    color: rgb(80, 80, 80);
    margin-top: -13px;
    font-weight: bold;
    font-style: italic;
    margin-right: 8px;
}

.menu {
    width: 100%;
    background-color: rgb(243, 243, 243);
    position: absolute;
    bottom: 7px;
    height: 25px;
    line-height: 25px;
}
.menu div {
    max-width: 1050px;
    min-width: 570px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    font-size: 13px;
}
.menu > div > * {
    float: left;
    margin-right: 15px;
}
.menu span {
    font-weight: bold;
}
.menu span:last-of-type {
    font-weight: initial;
    float: right;
    margin-right: 0px;
}
.menu a {
    text-decoration: none;
    color: rgb(50, 136, 195);
}
.menu a:hover {
    text-decoration: underline;
}
.menu a:visited {
    color: rgb(50, 136, 195);
}
.ami {
    font-weight: bold;
}

.main {
    margin: 0 auto;
    margin-top: 90px;
    padding: 10px;
    padding-top: 15px;
}