.climate_table {
    border: 2px solid #2a2a2a;
    border-bottom-width: 1px;
    border-right-width: 1px;
    margin: 10px;
}
.climate_table td {
    border-right: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    vertical-align: middle;
    text-align: center;
}
.climate_table thead td {
    border-bottom: 2px solid #2a2a2a;
    font-weight: bold;
}
.climate_table tr > :first-child {
    padding-left: 6px;
    width: 170px;
    text-align: left;
}
.climate_table tr > :nth-child(2) {
    border-right: 2px solid #2a2a2a;
    width: 45px;
}
.climate_table tbody tr td {
    width: 66px;
    font-size: 13px;
    line-height: 28px;
}

.ct-series .ct-bar {
    stroke-width: 20;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    justify-content: center;
}