.climate_table {
    border: 1px solid #2a2a2a;
    margin: 10px;
}
#climate_months_a {
    border-bottom-width: 0px;
}

.climate_table thead tr td {
    border: 1px solid #2a2a2a;
    border-bottom-width: 2px;
    font-weight: bold;
    text-align: center;
}
.climate_table thead tr td:first-of-type {
    border-right-width: 2px;
}
.climate_table thead tr td:nth-of-type(2) {
    border-left-width: 0px;
}

.climate_table tbody tr td {
    width: 65px;
    border-bottom: 1px solid #2a2a2a;
    border-right: 1px solid #2a2a2a;
    font-size: 13px;
    text-align: center;
}
.climate_table tbody tr td:first-of-type {
    text-align: left;
    width: 240px;
    padding-left: 5px;
    border-left: 1px solid #2a2a2a;
    border-right: 2px solid #2a2a2a;
}

.ct-series .ct-bar {
    stroke-width: 20;
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    justify-content: center;
}